.navbar {
  background: #5a8ad1;
  display: flex;
  justify-content: flex-start;

  margin: 20px;
  padding: 10px;
  align-items: center;
  border: 2px solid #10144a;

  background: linear-gradient(120.93deg, #7d7d7d 4.58%, #6f6f6f 91.02%);
}
.heading {
  margin-left: 30px;
  font-family: "Orbitron";
}

.link {
  text-decoration: none;
  color: #3d4177;
  padding: 10px;
  font-family: "Orbitron";
}
.active {
  color: #081522;
  background: #3d4177;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  padding: 43px;
  font-size: 20px;
  font-weight: 900;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.title {
  font-size: 30px;
  font-weight: 800;
  margin-right: 20px;
  color: #10144a;

  opacity: 0.7;
}
