.array {
  display: flex;
  border: 3px solid #3d4177;
}

.arrayItem {
  display: flex;
  padding: 20px;
  background: transparent;
  color: #3d4177;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.runCodeButton {
  position: absolute;
  bottom: 0;
}
.code {
  /* width: 20%; */
  max-width: 250px;
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120.93deg, #7d7d7d 4.58%, #6f6f6f 91.02%);
}
.fieldError {
  color: #ff0b0b;
}
.status {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #e6d470;
  font-size: 20px;
  font-weight: 900;
  font-family: "Orbitron";
}
.button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background: #44689e;
  color: #3d4177;
  margin-top: 15px;
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  width: 50%;
  color: #3d4177;
}
.heading {
  color: #3d4177;
}
.input {
  width: 50px;
  padding: 3px;
  font-size: 18px;
  border: 1px solid #3d4177;
  background: transparent;
  color: #3d4177;
}
.quiz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formInput {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link {
  color: #3d4177;
}
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radioGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.radioGroup > label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.questionLabel {
  font-family: "Orbitron";
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}
.heading {
  font-family: "Orbitron";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 8px;
}
.buttonWapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
